.swapper{
	display:block;
	width:850px;
	margin:0 auto;
}
#b1, #b2, #b3{
	background-color:#2c3e50;
	transition: background-color .4s;
	border:0;
	padding:15px 20px;
	color:white;
	font-family:Verdana;
	display:inline-block;
}
#b1:hover, #b2:hover, #b3:hover{
	background-color:#00cccc;
	cursor:pointer;
}
#b1:focus, #b1:active, #b2:focus, #b2:active, #b3:active, #b3:focus{
	outline:none;
}
#b1{
	background-color:#00cccc;
}
#textarea{
	width: 400px; 
	background-color: #eeeeee; 
	padding:20px;
	margin:0 auto;"
}
select{
	padding:10px;
	font-size:120%;
}
option{
	padding:2px;
}
input[type="text"]{
	padding:5px;
	font-size:65%;
}
.finisher{
	padding:5px;
	font-size:75%;
	display:inline-block;
	background-color:rgb(238, 238, 238);
	background-image:linear-gradient(rgb(238, 238, 238) 20%, rgb(255, 255, 255) 80%);
	border:1px solid #aaa;
	transition:background-color .4s, background-image .4s;
}
.finisher:hover{
	background-color: #00ffff;
	background-image:linear-gradient(rgb(255, 255, 255) 20%, rgb(238, 238, 238) 80%);
	cursor:pointer;
}


.directory{
	width:600px;
	background-color:#f39c12;
	padding:10px;
	position:absolute;
	left:50%;
	top:50px;
	margin-left:-300px;
}
.directory *{
	font-family:Verdana;
}